<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<!--
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
-->

{% if site.twitter_user %}
{% if page.large-image %}
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:image" content="{{ site.url }}{{ page.large-image }}">
{% else %}
<meta property="twitter:card" content="summary">
{% endif %}
<meta property="twitter:site" content="{{ site.twitter_user }}">
<meta property="twitter:url" content="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{% endif %}">
<meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="twitter:description" content="{{ description | strip_html | condense_spaces | truncate:200 }}">
{% if page.image %}
<meta property="twitter:image" content="{{ site.url }}{{ page.image }}">
{% endif %}

{% endif %}
