// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

article ol {
  list-style-type: decimal;
  list-style-position: outside;
  font-size: 18px;
  color: #666665;
  line-height: 1.2;
  padding-left: 2em;
}

article ul {
  list-style-type: circle;
  list-style-position: outside;
  font-size: 18px;
  color: #666665;
  line-height: 1.2;
  padding-left: 2em;
}
